@model TaskManagementSystem.ViewModels.TaskViewModel

@{ if (User.IsInRole("Admin"))
    {
        Layout = "/Views/Shared/AdminDashboard.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

}




@{
    var data = Model;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <!-- <link rel="stylesheet" href="./user.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="/css/Adminlayout.css">
    <link rel="stylesheet" href="/css/Admintaskmgmt.css">
    <!-- font-awesome link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>CreateTask</title>

</head>

<body>


    <div class="createtask-container-section">
        <form asp-action="Edit" class="createtask-from-section">
            <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="errormessage"></div>
            <div class="createtask-firstrow-section">


                <div class="taskfrom">
                    <label asp-for="TaskName"></label>
                    <input asp-for="TaskName" type="text" class="task-form-input" />
                    <span asp-validation-for="TaskName" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="TaskDetails" class="control-label"></label>
                    <input asp-for="TaskDetails" class="task-form-input" />
                    <span asp-validation-for="TaskDetails" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="CreatedDate"></label>
                    <input asp-for="CreatedDate" class="task-form-input" />
                    @* <input asp-for="CreatedDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />*@
                    <span asp-validation-for="CreatedDate" class="errormessage"></span>
                </div>





                <div class="taskfrom">
                    <label asp-for="AssignedDate" class="control-label"></label>
                    <input asp-for="AssignedDate" class="task-form-input" />
                    <span asp-validation-for="AssignedDate" class="errormessage"></span>
                </div>

            </div>

            <div class="createtask-secondrow-section">

                <div class="taskfrom">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input asp-for="DueDate" class="task-form-input" />
                    <span asp-validation-for="DueDate" class="errormessage"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="AssignedBy" class="control-label"></label>
                        <select name="AssignedBy" class="form-control" asp-items="@ViewBag.users"></select>
                        <span asp-validation-for="AssignedBy" class="text-danger"></span>
                    </div>*@

                <div class="taskfrom">
                    <label asp-for="AssignedById" class="control-label"></label>
                    @*<select name="AssignedById" class="form-control" asp-items="@(new SelectList(ViewBag.users, "Value","Text"))">*@
                    <select asp-for="AssignedById" class="form-control" asp-items="@(new SelectList(data.AssignedBy, "Value", "Text"))">

                        <option selected disabled>Please Select</option>
                    </select>
                    <span asp-validation-for="AssignedById" class="errormessage"></span>
                </div>

                <div class="taskfrom">
                    <label asp-for="AssignedToIds"></label>
                    <select asp-for="AssignedToIds" class="form-control" asp-items="@(new SelectList(data.AssignedTo, "Value", "Text"))" multiple>
                        <option disabled>Please Select Multiple User by Holding CTRL</option>
                    </select>
                    <span asp-validation-for="AssignedToIds" class="errormessage"></span>
                </div>





                <div class="taskfrom">
                    <label asp-for="TaskCategoriesId"></label>
                    <select asp-for="TaskCategoriesId" class="form-control" asp-items="@(new SelectList(data.TaskCategories, "Value", "Text"))">
                        <option selected disabled>Please Select the category</option>
                    </select>

                    <span asp-validation-for="TaskCategoriesId" class="errormessage"></span>
                </div>
            </div>


            <div class="createtask-thirdrow-section">

                <div class="taskfrom">
                    <label asp-for="TaskStatus"></label>
                    <select asp-for="TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()">
                        <option selected disabled>Please Select the Status of the Task</option>

                    </select>
                    <span asp-validation-for="TaskStatus" class="errormessage"></span>
                </div>

                <div class="taskfrom">
                    <label asp-for="TaskCompletedDate"></label>
                    <input asp-for="TaskCompletedDate" class="task-form-input" />
                    <span asp-validation-for="TaskCompletedDate" class="errormessage"></span>
                </div>

                <div class="container-btn">
                    <input type="submit" value="save" class="btn createbtn" />
                </div>
                <div class="container-btn">
                    <input type="submit" value="save" class="createbtn btn" />
                </div>


            </div>
        </form>
        <!-- </div> -->
        <!-- add-user section end here -->
        <!-- </div> -->
    </div>

    @*<a asp-action="ViewTask">Back to List or ViewTask</a>*@

    @*<script src="/js/createtask.js"></script>
        <script src="/js/layout.js"></script>*@

    <script src="/js/adminlayout.js"></script>
    <script src="/js/create.js"></script>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
